.nav
{
  margin-top: 18px;
  margin-bottom: 10px;
  font-family: Arial;
}

.nav-option
{
  font-size: 14px;
  font-weight: bold;
}

.nav-option a
{
  text-decoration: none;
  color: blue;
}

.nav-option a:hover
{
  text-decoration: underline;
  color: darkslateblue;
}

.mr10
{
  margin-right: 10px;
}

.mt20
{
  margin-top: 20px;
}

.padded
{
  padding: 10px;
}
